/*
UCID: sb59
Date: 3/30/22
Site(s)/Who: https://www.w3schools.com/css/css_form.asp
Purpose: I borrowed and changed CSS from W3Schools
Why: I liked the design
*/
  
  form, body {font-family: 'Open Sans', sans-serif;}
  
  h1 {background-color: #E4EDF2;}  

  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #3F6473;
    color: white;
    padding: 3px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  form {
    text-align: left;
    display:grid;
    place-items: center;
  }
  

  form {
    border-radius:5px;background-color:#E4EDF2;padding:40px;
  }
  
    
  label{
  display:block;
  padding:4px;
  font-size:14px;
  }
  
  div2 label{
    display:inline-block;
    padding:4px;
    font-size:14px;
    }
  
  


  
