/*
UCID: sb59
Date: 3/30/22
Site(s)/Who: https://www.w3schools.com/Css/css_navbar.asp
Purpose: I borrowed and changed CSS for navigation from W3Schools
Why: I liked the design but did not like the colors and changed them
*/



nav ul li {display:inline; list-style-type:none; font-family: 'Open Sans', sans-serif;} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul li {
    float: left;
}

ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover:not(.active) {
    background-color: #000;
}

ul li a.active {
    background-color:#04AA6D;
}
